{% extends 'base.html' %}

{% block body %}

    {% include "navbar.html" %}

    <div class="container" style="padding: 30px 0;">
        {% for tag, photos in data.items %}
             <h2>{{ tag |title }}</h2>
                 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="padding: 30px 0;">
                    {% for photo in photos.all %}
                        <div class="col">
                            {% include "photo_card.html" %}
                        </div>
                    {% endfor %}
                 </div>
         {% endfor %}
    </div>
{% endblock %}
